.blogNav, select.blogSel, .bGlb-Main, .bGlb-Main img, .Trnd-Main, .Trnd-lft-Ftr {
    width: 100%;
}

.blogNav {
    background-color: #e4e4e4;
    border-bottom: 1px solid #eee;
    min-height: 30px;
    left: 0;
    right: 0;
    margin: 0px 0px 52px 0px;
    padding: 5px 5px 0px 5px;
    list-style: none;
    text-decoration: none;
    line-height: 23px;
}

select.blogSel {
    background: transparent;
    border: none;
    color: #000;
}

.bGlb-Main {
    max-width: 618px;
    display: inline-block;
}

.bGlb-Main img {
    max-height: 375px;
    z-index: 2;
}

.Trnd-Main {
    padding-left: 15px;
    margin: -67px 0px 0px;
}

.Trnd-lft-Ftr {
    padding: 10px;
    margin: -140px 0px 0px;
}

.trnd-fkr {
    background: #f4f4f4;
    color: #444;
    padding: 3px 6px;
    font-family: montserrat;
    font-weight: 500;
}

.Trnd-lft-Txt {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0px 0px;
}

.fPnl-Hdr_B h3, .fPnl-Hdr_B ul {
    margin: 5px 0px;
    padding: 0px;
}

.fPnl-Hdr_B h3, .fPnl-Hdr_B ul, .fPnl-Hdr_B ul a li {
    display: inline-block;

}

.fPnl-Hdr_B ul {
    list-style: none;
    text-decoration: none;
    float: right;
    margin: 3px 0px 0px;
}

.fPnl-Hdr_B ul a li {
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 2px 8px;
    border-radius: 6px;
}

.RefPst_frame, .vTrms {
    height: auto;
    padding: 20px;
}

.RefPst_frame {
    background: lightgray;
    border: 1px solid #ccc;
}

.vTrms {
    background: #d3acac;
    border: 1px solid darkred;
}

/* ************* */
/* banner header */
/* ************* */

.bnrHdr-Wpr, .usrHdr-Wpr {
    background: rgba(135, 30, 31, 1);
}

.bnrHdr-Wpr {
    margin: -60px 0px 0px 0px;
}

.bnrHdr-Wpr, .bnrTxt-Hdr {
    color: #fff;
}

.bnrHdr-Wpr {
    height: auto;
    top: 78px;
}

.bnrCnt {
    padding: 20px;
}

.bnrTxt {
    font-size: 18px;
    margin: 0px 0px 0px;
}

.bnrTxt i::after {
    content: '/';
}

.pad-T2, .pad-T2b {
    margin: 98px 0px 10px;
}

.pad-T2 {
    padding: 10px;
}

.blogV-Wpr {
    padding: 10px;
}

.blog-vW small {
    font-size: 13px;
    color: #871e1f;
}

.cNt-Hdr {
    width: 100%;
}

.cNt-Hdr img {
    height: 165px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.cNt-Hdr h2 {
    font-weight: bold;
    font-size: 18px;
    color: darkred;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

.cNt-Hdr div {
    margin: 0px 0px 10px 0px;
}

ul.cNt-Hsh {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

ul.cNt-Hsh a li {
    display: inline-block;
    font-size: 13px;
    color: darkred;
}

.vidPlaceholder {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #333;
    padding: 10px;
    margin: 0px 0px 0px -18px;
}

.vidWpr {
    margin: 0px 0px 5px 13px;
}

.vw-desc {
    margin: 10px 0px 0px;
}
