    .scl-share i, #copy                 { font-size: 35px; }
    .scl-share i:hover                  { opacity: 0.8; }
    .scl-share i.fi-mail                { color: #871e1f; }
    .scl-share i.fi-link                { color: #000000; }
    .scl-share i.fi-social-facebook     { color: #4667ab; }
    .scl-share i.fi-social-flipboard    { color: #f52828; }
    /* .scl-share i.fi-social-github       { color: #000000; } */
    .scl-share i.fi-social-linkedin     { color: #0077b5; }
    .scl-share i.fi-social-medium       { color: #000000; }
    .scl-share i.fi-social-pinterest    { color: #b7081b; }
    .scl-share i.fi-social-reddit       { color: #f14c00; }
    .scl-share i.fi-social-twitter      { color: #1da1f2; }
    /* .scl-share i.fi-social-youtube      { color: #ff0000; } */
    .scl-share span {
        max-width: 30px;
        margin: 9px 0px 0px 4px;
        position: absolute;
        overflow: hidden;
    }
    .sharetip {
    position: relative;
    display: inline-block;
    }

    .sharetip .sharetiptext {
    visibility: hidden;
    width: 80px;
    text-align: center;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 10px;

    /* Position the sharetip */
    position: absolute;
    z-index: 1;
    }

    .sharetip:hover .sharetiptext {
    visibility: visible;
    }
    #copy {
    background-image: url(
'../../css/foundation.zurb/fi-link.svg');
    background-size: cover;
    color: #000;
    width: 34px;
    height: 30px;
    border: none;
    background-repeat: no-repeat;
    font-size: 0px;
    margin: -24px 0px 0px -11px;
    position: absolute;
        }
    #copy, .fi-social-flipboard {
    background-size: cover;
    background-repeat: no-repeat;
        }
    .fi-social-flipboard {
        background-image: url(
'../../css/svg/Flipboard_logo.svg');
        width: 25px;
        height: 25px;
        margin: 0px 0px 0px -5px;
        display: inline-block;
    }