.fr {
    float: right;
}

.pa {
    position: absolute;
}

.pf {
    position: fixed;
}

.di {
    display: inline-block;
}

.dn {
    display: none;
}

.usr_lgc1 {
    top: 16px;
    right: 5px;
}

.usr_lgc1 img {
    height: 50px;
    width: 50px;
    margin: 0px 10px -15px 0px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

/* login logic */
.usr_lgn {
    top: 50px;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(61, 67, 71, 0.8);
    color: #fff;
    z-index: 6;
    padding: 10px 0px 10px 10px;
    width: 258px;
}

.usr_lgn form {
    padding: 20px;
    margin: 0px auto;
}

.usr_lgn form label {
    display: block;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], form.lgn_lgc input[type="submit"] {
    border-radius: 6px;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

form.lgn_lgc input[type="text"], form.lgn_lgc input[type="password"] {
    max-width: 286px;
    height: 25px;
}

input[type="text"], input[type="password"] {
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    height: 25px;
}

form.lgn_lgc button.nxt_sgn, form.mHdr-Frm button.nxt_sgn, .bck_sgn {
    border: 1px solid #333;
    padding: 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

form.lgn_lgc button.nxt_sgn, form.mHdr-Frm button.nxt_sgn {
    background: #3d4347;
    width: 100%;
}

.bck_sgn {
    background: darkred;
    border: 1px solid #333;
    padding: 15px;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
}

.bck_sgn:hover {
    opacity: 0.9;
}

form.lgn_lgc button.nxt_sgn {
    max-width: 300px;
}

form.lgn_lgc button.nxt_sgn:hover, form.mHdr-Frm button.nxt_sgn:hover {
    background: rgba(61, 67, 71, 0.9);
}

form.lgn_lgc {
    line-height: 1.38;
    font-weight: normal;
    word-wrap: break-word;
    direction: ltr;
    font-size: 14px;
}

.next {
    max-width: 337px;
}

/* signup popup */
/* ************ */
#lgnsgn_2 {
    background: rgba(255, 255, 255,0.9);
    color: #333;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#lgnsgn_2 div:first-child {
    margin-bottom: 20px;
}

/* forgot password */
#fgt_btn1 {
    margin: 0px 0px 10px;
    display: block;
}













